@import '../abstract/variaveis';

.administrador{
    padding: 24px 16px;
    height: 480px;
    background-color: #F5F5F5;

    .formulario__adm{
        .adm__titulo{
            font-size: $fonte-titulo-produtos;
            font-weight: 700;
            margin-bottom: 24px;
        }

        .input__adiciona-produtos{
            display: block;
            width: 99%;
            height: 56px;
            border: none;
            border-bottom: 1px solid grey;
            margin-bottom: 16px;
            padding: 0px 8px;
            outline: 0;

            &::placeholder{
                font-size: 12px;
                position: absolute;
                top: 8px;;
                left: 8px;
                color: #A2A2A2;
            }

        }

        .textarea__adiciona-produto{
            display: block;
            padding-bottom: 16px;
        }

        .botao__adicionar{
            background-color: $cor-de-fundo-botoes;
            border: none;
            width: 100%;
            height: 50px;
            font-size: $fonte-padrao;
            color: $cor-fonte-botao;
            align-self: center;
        }
    }

}

@media screen and (min-width: 1440px) {

    .administrador{
        padding: 72px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .formulario__adm{
            .adm__titulo{
                font-size: 32px;
            }
    
            .input__adiciona-produtos{
                width: 560px;
    
                &::placeholder{
                    font-size: 12px;
                    position: absolute;
                    top: 8px;;
                    left: 8px;
                }
    
            }
    
            .textarea__adiciona-produto{
                display: block;
                padding-bottom: 16px;
            }
    
            .botao__adicionar{
                font-size: $fonte-tamanho-padrao;
                @include animacoesBotao( #0e53ad);
            }
        }
    }
}