@import '../abstract/variaveis';

.banner{
    background: url(../../../../Primeiro-desafio/assets/imgs/banner.png) center;
    background-size: cover;
    min-width:100%;
    min-height:192px;
    opacity: 1;
    display: flex;
    align-items: end;

    .inner--banner{

        padding:0 0px 16px 16px;
        
        .banner__titulo{
            font-size: $fonte-promocional;
            font-weight: 700;
            color:$cor-banner;
            
        }
        .banner__descricao{
            font-size: $fonte-padrao;
            padding: 12px 0 10px;
            color:$cor-banner;
        }

        .banner__botao{
            background-color: #2A7AE4;
            width: 120px;
            height: 40px;
            color:$cor-banner;
            border: none;
        }
    }

}

@media screen and (min-width: 768px) {

    .banner{
        .inner--banner{
    
            padding:0 0px 16px 32px;
        }
    
    }
    
}

@media screen and (min-width: 1440px) {

    .banner{
        height: 352px;
        .inner--banner{
            // margin: 32px 0; 
            padding: 64px 128px 24px;

            .banner__titulo{
                font-size: $fonte-titulo-banner;
                font-weight: 700;
                color:$cor-banner;
                
            }

            .banner__descricao{
                font-size: $fonte-texto-banner;
                padding: 20px 0 16px;
                color:$cor-banner;
            }
        }
    
    }
    
}
