@import '../abstract/variaveis';

.section__fale-conosco{
    background: $cor-de-fundo;

    .section__fale-conosco-div__logo{
        text-align: center;
    }
    .section__fale-conosco-ajudas{
        text-align: center;

        .lista__fale-conosco{
            margin: 8px 0;

            .item__fale-conosco{
                padding: 8px;

                .ancora__fale-conosco{
                    text-decoration: none;
                    color: $cor-texto-padrao;
                }
            }
        }
    }

    .formulario{
        padding: 8px 12px;

        .formulario__campos{

            .formulario__titulo{
                font-size: $fonte-padrao + 0,2px;
                font-weight: 700;

            }
            .formulario__input{
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                margin: 8px 0;
                width: 98%;
                height: 48px;
                border: none;
                border-bottom: 1px solid gray;
                padding: 2px 4px;

                &::placeholder{
                  padding: 4px 4px;  
                  font-size: $fonte-padrao - 2,4px;
                }
            }

            .formulario__textarea{
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                margin: 8px 0;
                width: 100%;
                border: none;
                border-bottom: 1px solid gray;
                padding: 4px 0;
                &::placeholder{
                    padding: 12px 8px;  
                    font-size: $fonte-padrao + 0,2px
                  }
            }

            .formulario__botao{
                background-color: #2A7AE4;
                width: 150px;
                height: 40px;
                color:$cor-banner;
                border: none;
            }
        }
    }
}

@media screen and (min-width: 768px) {

    .section__fale-conosco{
        padding: 24px 32px;
        display: grid;
        grid-template-columns: 0.4fr 0.6fr;
        // grid-template-rows: 1fr;
        // column-gap: 64px;
        
        .section__fale-conosco-div__logo{
            text-align: left;
            grid-column-start: 1;
            grid-row-start: 1;
        }
        .section__fale-conosco-ajudas{
            text-align: left;
            grid-column-start: 1;
            grid-row-start: 2;
        }

        .formulario{
            grid-column-start:  2;
            grid-row-start: 1;
            grid-row-end: 2;

            .formulario__campos{

                .formulario__botao{
                    @include animacoesBotao(#0e53ad);
                }
            }
        }
        
    }
    
}

@media screen and (min-width: 1440px) {

    .section__fale-conosco{
        padding: 32px 128px;
        display: flex;
        justify-content: space-between;
        .section__fale-conosco-div__logo{
            text-align: left;
        }
        .section__fale-conosco-ajudas{
            text-align: left;
        }
        
    }
    
}