@import '../abstract/variaveis';

.rodape{
    margin: 32px 0;
    text-align: center;
    // color: #F5F5F5;
    font-size: 1rem;
    
    .rodape__ancora{
        text-decoration: none;
        outline: 0;
    }
}