.cabecalho{
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cabecalho__search{
        display: none;
    }
   
    .cabecalho__botao{
        border: 1px solid #2A7AE4;
        color: #2A7AE4;
        background-color: #FFFFFF;
        transition: 0.5s;
        cursor: pointer;
        width:144px;
        height: 48px;
    }
}


@media screen and (min-width: 768px) {

    .cabecalho{
        padding: 24px 32px;
    }
    
}

@media screen and (min-width: 1080px) {

    .section__products{
        .lista__produtos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            place-items: center;
        }
    }
    
}

@media screen and (min-width: 1440px) {

    .section__products{
        margin: 32px 0; 
        padding: 16px 128px;
        .section__products--div{
            padding: 0 8px;

            .lista__produtos{
                margin: 12px 0;
            }   
        }
        
    }
    
}







