@import '../abstract/variaveis';

.login{
    height: 360px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;

    .formulario__login{
        display: flex;
        flex-direction: column;

        .login__titulo{
            font-weight: 700;
            font-size: $fonte-tamanho-padrao;
            text-align: center;
            margin-bottom: 8px;
        }

        .usuario, .senha{
           @include formulario(275px, 15px);
           border-bottom: 1px solid #C8C8C8;
        }

        .error{
            color: $erro;
            font-size: 12px;
            position: relative;
            left: 8px;
            padding: 8px 0;
        }

        .link__redefinir{
            text-decoration: none;
            padding: 8px 0;
            text-align: right;
            font-size: calc($fonte-tamanho-padrao  / 1.2);
            color: black;
        }

        .botao__entrar{
            background-color: $cor-de-fundo-botoes;
            border: none;
            width: 110px;
            height: 40px;
            font-size: $fonte-padrao;
            color: $cor-fonte-botao;
            align-self: center;

            &:disabled{
                opacity: 0.7;
                cursor: not-allowed;
            }
        }
    }
}

@media screen and (min-width: 1440px) {

    .login{
        .formulario__login{
            .login__titulo{
                margin-bottom: 16px;
            }
            .usuario, .senha{
                @include formulario(425px, 15px);
             }
        
             .botao__entrar{
                display: block;
                width: 425px;
                height: 50px;
                font-size: calc($fonte-tamanho-padrao + 2px);
                font-weight: 600;
                @include animacoesBotao( #0e53ad);
            }
        }
    }
}