
.section__products{
    padding: 16px 16px;
    .section__products--div{
        display: flex;
        justify-content: space-between;

        .section__product--title{
            font-size: $fonte-titulo-produtos;
            color: $cor-titulo-produtos;
            font-weight: 700;
        }

        .section__products--anchor{
            color: $cor-ancora;
            font-weight: 700;
            text-decoration: none;
            font-size: $fonte-padrao;
        }
    }

    .lista__produtos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        gap: 16px 8px;
        margin: 24px 0;

        .list-item{
            margin: 16px 0;
        }

        .item__descricao{
            padding-top: 4px;
        }

        .item__preco{
            padding: 6px 0;
            color: $cor-texto-padrao;
            font-weight: 700;
        }

        .item__anchor{
            padding: 8px 0 4px 0;
            text-decoration: none;
            color: $cor-ancora;
            font-weight: 700;
        }
    }
}

@media screen and (min-width: 600px) {

    .section__products{
        padding: 16px 16px;
        .lista__produtos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-items: center;
        }
    }
    
}

@media screen and (min-width: 768px) {

    .section__products{
        padding: 16px 32px;
        .lista__produtos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            place-items: center;
        }
    }
    
}

@media screen and (min-width: 1080px) {

    .section__products{
        .lista__produtos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            place-items: center;
        }
    }
    
}

@media screen and (min-width: 1440px) {

    .section__products{
        margin: 32px 0; 
        padding: 16px 128px;
        .section__products--div{
            padding: 0 8px;

        }
        .lista__produtos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            place-items: center;
            margin: 12px 0;
        }   
        
    }
    
}