body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

.cabecalho {
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecalho .cabecalho__search {
  display: none;
}
.cabecalho .cabecalho__botao {
  border: 1px solid #2A7AE4;
  color: #2A7AE4;
  background-color: #FFFFFF;
  width: 144px;
  height: 48px;
}

@media screen and (min-width: 768px) {
  .cabecalho {
    padding: 24px 32px;
  }
  .cabecalho .cabecalho__logo-input {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .cabecalho .cabecalho__search {
    display: block;
    width: 250px;
    height: 30px;
    padding: 8px 16px 8px 16px;
    border-radius: 20px;
    gap: 8px;
    background-color: #F5F5F5;
    border: none;
  }
  .cabecalho .cabecalho__search::-moz-placeholder {
    background: url(../../../../Primeiro-desafio/assets/imgs/lupa.svg) no-repeat;
    background-position: 14.25em 0px;
    opacity: 0.5;
  }
  .cabecalho .cabecalho__search::placeholder {
    background: url(../../../../Primeiro-desafio/assets/imgs/lupa.svg) no-repeat;
    background-position: 14.25em 0px;
    opacity: 0.5;
  }
  .cabecalho .cabecalho__botao {
    width: 168px;
  }
  .cabecalho .cabecalho__botao:active {
    background-color: #5595E9;
  }
  .cabecalho .lupa {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .cabecalho {
    padding: 32px 128px;
  }
  .cabecalho .cabecalho__logo-input {
    display: flex;
    gap: 32px;
  }
  .cabecalho .cabecalho__search {
    display: block;
    width: 350px;
    height: 30px;
    padding: 8px 16px 8px 16px;
    border-radius: 20px;
    gap: 8px;
    background-color: #F5F5F5;
    border: none;
  }
  .cabecalho .cabecalho__search::-moz-placeholder {
    background: url(../../../../Primeiro-desafio/assets/imgs/lupa.svg) no-repeat;
    background-position: 21em 0px;
    opacity: 0.5;
  }
  .cabecalho .cabecalho__search::placeholder {
    background: url(../../../../Primeiro-desafio/assets/imgs/lupa.svg) no-repeat;
    background-position: 21em 0px;
    opacity: 0.5;
  }
  .cabecalho .cabecalho__botao {
    width: 188px;
  }
  .cabecalho .cabecalho__botao:hover {
    cursor: pointer;
    background-color: #2A7AE4;
    color: white;
    transition: 0.5s;
  }
  .cabecalho .cabecalho__botao:active {
    background-color: #5595E9;
  }
}
.banner {
  background: url(../../../../Primeiro-desafio/assets/imgs/banner.png) center;
  background-size: cover;
  min-width: 100%;
  min-height: 192px;
  opacity: 1;
  display: flex;
  align-items: end;
}
.banner .inner--banner {
  padding: 0 0px 16px 16px;
}
.banner .inner--banner .banner__titulo {
  font-size: 1.375rem;
  font-weight: 700;
  color: #ffffff;
}
.banner .inner--banner .banner__descricao {
  font-size: 0.9rem;
  padding: 12px 0 10px;
  color: #ffffff;
}
.banner .inner--banner .banner__botao {
  background-color: #2A7AE4;
  width: 120px;
  height: 40px;
  color: #ffffff;
  border: none;
}

@media screen and (min-width: 768px) {
  .banner .inner--banner {
    padding: 0 0px 16px 32px;
  }
}
@media screen and (min-width: 1440px) {
  .banner {
    height: 352px;
  }
  .banner .inner--banner {
    padding: 64px 128px 24px;
  }
  .banner .inner--banner .banner__titulo {
    font-size: 3.25rem;
    font-weight: 700;
    color: #ffffff;
  }
  .banner .inner--banner .banner__descricao {
    font-size: 1.375rem;
    padding: 20px 0 16px;
    color: #ffffff;
  }
}
.section__products {
  padding: 16px 16px;
}
.section__products .section__products--div {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.section__products .section__products--div .section__product--title {
  font-size: 1.375rem;
  color: #464646;
  font-weight: 700;
}
.section__products .section__products--div .section__products--anchor {
  color: #2A7AE4;
  font-weight: 700;
  text-decoration: none;
  font-size: 0.9rem;
}
.section__products .lista__produtos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 16px 8px;
  margin: 24px 0;
}
.section__products .lista__produtos .list-item {
  margin: 16px 0;
}
.section__products .lista__produtos .item__descricao {
  padding-top: 4px;
}
.section__products .lista__produtos .item__preco {
  padding: 6px 0;
  color: #464646;
  font-weight: 700;
}
.section__products .lista__produtos .item__anchor {
  padding: 8px 0 4px 0;
  text-decoration: none;
  color: #2A7AE4;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .section__products {
    padding: 16px 16px;
  }
  .section__products .lista__produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
}
@media screen and (min-width: 768px) {
  .section__products {
    padding: 16px 32px;
  }
  .section__products .lista__produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
  }
}
@media screen and (min-width: 1080px) {
  .section__products .lista__produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .section__products {
    margin: 32px 0;
    padding: 16px 128px;
  }
  .section__products .section__products--div {
    padding: 0 8px;
  }
  .section__products .lista__produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    margin: 12px 0;
  }
}
.rodape {
  margin: 32px 0;
  text-align: center;
  font-size: 1rem;
}
.rodape .rodape__ancora {
  text-decoration: none;
  outline: 0;
}

@media screen and (min-width: 1440px) {
  .rodape {
    padding: 16px;
  }
}
.section__fale-conosco {
  background: #EAF2FD;
}
.section__fale-conosco .section__fale-conosco-div__logo {
  text-align: center;
}
.section__fale-conosco .section__fale-conosco-ajudas {
  text-align: center;
}
.section__fale-conosco .section__fale-conosco-ajudas .lista__fale-conosco {
  margin: 8px 0;
}
.section__fale-conosco .section__fale-conosco-ajudas .lista__fale-conosco .item__fale-conosco {
  padding: 8px;
}
.section__fale-conosco .section__fale-conosco-ajudas .lista__fale-conosco .item__fale-conosco .ancora__fale-conosco {
  text-decoration: none;
  color: #464646;
}
.section__fale-conosco .formulario {
  padding: 8px 12px;
}
.section__fale-conosco .formulario .formulario__campos .formulario__titulo {
  font-size: calc(0.9rem + 0.2px);
  font-weight: 700;
}
.section__fale-conosco .formulario .formulario__campos .formulario__input {
  border-radius: 4px;
  margin: 8px 0;
  width: 98%;
  height: 48px;
  border: none;
  border-bottom: 1px solid gray;
  padding: 2px 4px;
}
.section__fale-conosco .formulario .formulario__campos .formulario__input::-moz-placeholder {
  padding: 4px 4px;
  font-size: -1.1rem, 4px;
}
.section__fale-conosco .formulario .formulario__campos .formulario__input::placeholder {
  padding: 4px 4px;
  font-size: -1.1rem, 4px;
}
.section__fale-conosco .formulario .formulario__campos .formulario__textarea {
  border-radius: 4px;
  margin: 8px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid gray;
  padding: 4px 0;
}
.section__fale-conosco .formulario .formulario__campos .formulario__textarea::-moz-placeholder {
  padding: 12px 8px;
  font-size: 0.9rem, 2px;
}
.section__fale-conosco .formulario .formulario__campos .formulario__textarea::placeholder {
  padding: 12px 8px;
  font-size: 0.9rem, 2px;
}
.section__fale-conosco .formulario .formulario__campos .formulario__botao {
  background-color: #2A7AE4;
  width: 150px;
  height: 40px;
  color: #ffffff;
  border: none;
}

@media screen and (min-width: 768px) {
  .section__fale-conosco {
    padding: 24px 32px;
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
  }
  .section__fale-conosco .section__fale-conosco-div__logo {
    text-align: left;
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .section__fale-conosco .section__fale-conosco-ajudas {
    text-align: left;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .section__fale-conosco .formulario {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .section__fale-conosco .formulario .formulario__campos .formulario__botao:hover {
    cursor: pointer;
    background-color: #0e53ad;
    color: white;
    transition: 0.5s;
  }
  .section__fale-conosco .formulario .formulario__campos .formulario__botao:active {
    background-color: #5595E9;
  }
}
@media screen and (min-width: 1440px) {
  .section__fale-conosco {
    padding: 32px 128px;
    display: flex;
    justify-content: space-between;
  }
  .section__fale-conosco .section__fale-conosco-div__logo {
    text-align: left;
  }
  .section__fale-conosco .section__fale-conosco-ajudas {
    text-align: left;
  }
}
.login {
  height: 360px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login .formulario__login {
  display: flex;
  flex-direction: column;
}
.login .formulario__login .login__titulo {
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 8px;
}
.login .formulario__login .usuario, .login .formulario__login .senha {
  border-radius: 4px;
  border: none;
  width: 275px;
  height: 15px;
  margin: 8px 0;
  padding: 16px 0 16px 8px;
  gap: 4px;
  border-bottom: 1px solid #C8C8C8;
}
.login .formulario__login .usuario::-moz-placeholder, .login .formulario__login .senha::-moz-placeholder {
  font-size: 1rem;
  color: #A2A2A2;
}
.login .formulario__login .usuario::placeholder, .login .formulario__login .senha::placeholder {
  font-size: 1rem;
  color: #A2A2A2;
}
.login .formulario__login .link__redefinir {
  text-decoration: none;
  padding: 8px 0;
  text-align: right;
  font-size: 0.8333333333rem;
  color: black;
}
.login .formulario__login .botao__entrar {
  background-color: #2A7AE4;
  border: none;
  width: 110px;
  height: 40px;
  font-size: 0.9rem;
  color: #ffffff;
  align-self: center;
}

@media screen and (min-width: 1440px) {
  .login .formulario__login .login__titulo {
    margin-bottom: 16px;
  }
  .login .formulario__login .usuario, .login .formulario__login .senha {
    border-radius: 4px;
    border: none;
    width: 425px;
    height: 15px;
    margin: 8px 0;
    padding: 16px 0 16px 8px;
    gap: 4px;
  }
  .login .formulario__login .usuario::-moz-placeholder, .login .formulario__login .senha::-moz-placeholder {
    font-size: 1rem;
    color: #A2A2A2;
  }
  .login .formulario__login .usuario::placeholder, .login .formulario__login .senha::placeholder {
    font-size: 1rem;
    color: #A2A2A2;
  }
  .login .formulario__login .botao__entrar {
    display: block;
    width: 425px;
    height: 50px;
    font-size: calc(1rem + 2px);
    font-weight: 600;
  }
  .login .formulario__login .botao__entrar:hover {
    cursor: pointer;
    background-color: #0e53ad;
    color: white;
    transition: 0.5s;
  }
  .login .formulario__login .botao__entrar:active {
    background-color: #5595E9;
  }
}
.section__products .section__products--div {
  display: block;
}
.section__products .section__products--div .botao__produtos {
  background-color: #2A7AE4;
  border: none;
  width: 150px;
  height: 40px;
  margin-top: 16px;
  font-size: 0.9rem;
  color: #ffffff;
  align-self: center;
}

@media screen and (min-width: 768px) {
  .section__products .section__products--div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section__products .section__products--div .botao__produtos {
    margin: 0px;
  }
}
@media screen and (min-width: 1440px) {
  .section__products .section__products--div .botao__produtos:hover {
    cursor: pointer;
    background-color: #0e53ad;
    color: white;
    transition: 0.5s;
  }
  .section__products .section__products--div .botao__produtos:active {
    background-color: #5595E9;
  }
  .section__products .lista__produtos .gap {
    margin-bottom: 32px;
  }
}
.administrador {
  padding: 24px 16px;
  height: 480px;
  background-color: #F5F5F5;
}
.administrador .formulario__adm .adm__titulo {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.administrador .formulario__adm .input__adiciona-produtos {
  display: block;
  width: 99%;
  height: 56px;
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 16px;
  padding: 0px 8px;
  outline: 0;
}
.administrador .formulario__adm .input__adiciona-produtos::-moz-placeholder {
  font-size: 12px;
  position: absolute;
  top: 8px;
  left: 8px;
  color: #A2A2A2;
}
.administrador .formulario__adm .input__adiciona-produtos::placeholder {
  font-size: 12px;
  position: absolute;
  top: 8px;
  left: 8px;
  color: #A2A2A2;
}
.administrador .formulario__adm .textarea__adiciona-produto {
  display: block;
  padding-bottom: 16px;
}
.administrador .formulario__adm .botao__adicionar {
  background-color: #2A7AE4;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 0.9rem;
  color: #ffffff;
  align-self: center;
}

@media screen and (min-width: 1440px) {
  .administrador {
    padding: 72px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .administrador .formulario__adm .adm__titulo {
    font-size: 32px;
  }
  .administrador .formulario__adm .input__adiciona-produtos {
    width: 560px;
  }
  .administrador .formulario__adm .input__adiciona-produtos::-moz-placeholder {
    font-size: 12px;
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .administrador .formulario__adm .input__adiciona-produtos::placeholder {
    font-size: 12px;
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .administrador .formulario__adm .textarea__adiciona-produto {
    display: block;
    padding-bottom: 16px;
  }
  .administrador .formulario__adm .botao__adicionar {
    font-size: 1rem;
  }
  .administrador .formulario__adm .botao__adicionar:hover {
    cursor: pointer;
    background-color: #0e53ad;
    color: white;
    transition: 0.5s;
  }
  .administrador .formulario__adm .botao__adicionar:active {
    background-color: #5595E9;
  }
}/*# sourceMappingURL=style.css.map */