//fontes

$fonte-promocional: 1.375rem;
$fonte-padrao: 0.9rem;
$fonte-titulo-produtos: 1.375rem;

//cores

$cor-banner: #ffffff;
$cor-titulo-produtos: #464646;

$cor-ancora: #2A7AE4;
$cor-de-fundo: #EAF2FD;

$cor-texto-padrao: #464646;